In [1]:
%matplotlib inline
import json
from scipy import stats
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
datafile = '/Users/Mai/Projects/linkedin/resume_ratings/data/group1.json';
with open(datafile) as f:
    jsondata = json.load(f)
data = jsondata['group1']

df_list1 = []

for i,key in enumerate(data):
    subdata = data[key]
    trialdata = {};
    for trial in subdata['responses']:
        trial['profile'] = trial['stim'][0]
        trial['photo'] = trial['stim'][1]

        
        # get photo condition
        if (trial['stim'][2] == 0):
            trial['competence'] = 'incomp'
        else:
            trial['competence'] = 'comp'
        
        # get resume condition
        if (trial['profile'][0] == 'l'):
            trial['resumeType'] = 'low'
        elif (trial['profile'][0] == 'a'):
            trial['resumeType'] = 'avg'
        else:
            trial['resumeType'] = 'high'
        
        trial['hire'] = int(trial['hire'])
        trial['sub'] = key
        trial['subN'] = 'sub' + str(i)
        del trial['stim']
        trialdata[trial['trialN']] = trial
    sub_df = pd.DataFrame.from_dict(trialdata, orient='index')
    df_list1.append(sub_df)

In [3]:
datafile = '/Users/Mai/Projects/linkedin/resume_ratings/data/group2.json';
with open(datafile) as f:
    jsondata = json.load(f)
data = jsondata

df_list2 = []

for i,key in enumerate(data):
    subdata = data[key]
    trialdata = {};
    for trial in subdata['responses']:
        trial['profile'] = trial['stim'][0]
        trial['photo'] = trial['stim'][1]

        
        # get photo condition
        if (trial['stim'][2] == 0):
            trial['competence'] = 'incomp'
        else:
            trial['competence'] = 'comp'
        
        # get resume condition
        if (trial['profile'][0] == 'l'):
            trial['resumeType'] = 'low'
        elif (trial['profile'][0] == 'a'):
            trial['resumeType'] = 'avg'
        else:
            trial['resumeType'] = 'high'
        
        trial['hire'] = int(trial['hire'])
        trial['sub'] = key
        trial['subN'] = 'sub' + str(i+32)
        del trial['stim']
        trialdata[trial['trialN']] = trial
    sub_df = pd.DataFrame.from_dict(trialdata, orient='index')
    df_list2.append(sub_df)

In [4]:
dfs_masterlist = df_list1+df_list2
df = pd.concat(dfs_masterlist, ignore_index=True)

In [18]:
cols = df.columns.tolist()
cols_reordered = ['subN', 'sub', 'trialN', 'resumeType', 'competence', 'profile', 'photo', 'hire', 'salary', 
                  'profileTime', 'respTime']
df = df[cols_reordered]
df.head(20)

,subN,sub,trialN,resumeType,competence,profile,photo,hire,salary,profileTime,respTime
0,sub0,A3OSD3X6OZEQKF53104,0,avg,incomp,avg_08,incomp11.jpg,5,99000,4.881,8.424
1,sub0,A3OSD3X6OZEQKF53104,1,low,comp,low_01,comp31.jpg,6,96500,3.015,3.937
2,sub0,A3OSD3X6OZEQKF53104,2,low,incomp,low_02,incomp1.jpg,5,95500,3.294,3.217
3,sub0,A3OSD3X6OZEQKF53104,3,low,comp,low_03,comp43.jpg,6,92000,2.097,4.888
4,sub0,A3OSD3X6OZEQKF53104,4,high,comp,high_03,comp34.jpg,8,100000,2.177,4.965
5,sub0,A3OSD3X6OZEQKF53104,5,high,comp,high_07,comp35.jpg,7,100000,2.231,10.745
6,sub0,A3OSD3X6OZEQKF53104,6,low,comp,low_07,comp48.jpg,7,100000,4.503,14.672
7,sub0,A3OSD3X6OZEQKF53104,7,avg,incomp,avg_06,incomp46.jpg,3,100000,8.339,6.413
8,sub0,A3OSD3X6OZEQKF53104,8,high,incomp,high_06,incomp32.jpg,9,99000,4.106,5.592
9,sub0,A3OSD3X6OZEQKF53104,9,avg,comp,avg_05,comp25.jpg,6,98000,5.967,6.648
10,sub0,A3OSD3X6OZEQKF53104,10,high,incomp,high_04,incomp3.jpg,8,107500,3.144,7.098
11,sub0,A3OSD3X6OZEQKF53104,11,avg,comp,avg_07,comp22.jpg,7,106500,2.879,3.521
12,sub0,A3OSD3X6OZEQKF53104,12,avg,incomp,avg_02,incomp10.jpg,7,105000,5.750,3.450
13,sub0,A3OSD3X6OZEQKF53104,13,low,incomp,low_04,incomp13.jpg,7,102500,4.183,4.031
14,sub0,A3OSD3X6OZEQKF53104,14,avg,comp,avg_03,comp50.jpg,6,97500,3.016,3.129
15,sub0,A3OSD3X6OZEQKF53104,15,avg,incomp,avg_04,incomp15.jpg,8,93500,2.863,6.608
16,sub0,A3OSD3X6OZEQKF53104,16,low,incomp,low_06,incomp49.jpg,5,108500,2.937,4.563
17,sub0,A3OSD3X6OZEQKF53104,17,high,comp,high_01,comp37.jpg,6,101000,6.949,5.303
18,sub0,A3OSD3X6OZEQKF53104,18,high,comp,high_05,comp45.jpg,5,99000,2.695,6.647
19,sub0,A3OSD3X6OZEQKF53104,19,high,incomp,high_02,incomp19.jpg,3,100000,2.696,7.859

In [19]:
savename = '/Users/Mai/Projects/linkedin/resume_ratings/data/group1and2_data.csv';
df.to_csv(savename)

In [ ]:
df[(df['profile'] == 'low_04') & (df['competence']=='comp')]

In [ ]:
df[(df['profile'] == 'low_04') & (df['competence']=='incomp')]